@import "tailwindcss";

:root {
  --background: #eeeeee;
  --text-black: #171717;
}

body {
  background: var(--background);
  color: var(--text-black);
  font-family: Arial, Helvetica, sans-serif;
}
